body{
    font-family: "Helvetica", "Arial", "sans-serif";
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.logo{
    height: 50px;
    margin-left: 10px;
}

.nav li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}

.nav a{
    text-decoration: none;
    font-weight: bold;
    color: antiquewhite;
}

.nav a:visited, .nav a:hover, .nav a:active{
    color: inherit;
}

#mission{
    height: 700px;
    width: 1200px;
    background-image: url("../images/img-mission-background.jpg") ;
    display:flex;
    align-items: center;
}

.mission-headers{
    background-color: black;
    width: 100%;
    height: auto;
}

#featured_tea{
    width: 1000px;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.teas{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tea{
    margin: 1%;
}

.tea img{
    width: 300px;
    height: 200px;
}

footer{
    width: 100%;
    margin-left: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: start;
    flex-direction: row;
}